@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
    font-family: 'varela round', sans-serif;
}

h1 {
    padding: 10px;
    background-color: #896bb3;
    color: #fff;
}

.favourite {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.mark {
    background-color: transparent;
}

.unmark {
    background-color: yellow;
}

.gif-details {
    position: relative;
    width: 200px;
}