<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="'giflib | ' + ${gif.name}"></title>
    <link rel="stylesheet" th:href="@{/app.css}" />
</head>
<body>
    <h1 th:text="${gif.name}"></h1>
    <div class="gif-details">
        <img th:src="@{'/gifs/' + ${gif.name} + '.gif'}" alt="gif" />
        <a href="#" th:class="(${gif.favourite}? 'unmark':'mark') + ' favourite'"></a>
    </div>
    <div>
        <p>Uploaded by <span th:text="${gif.username}"></span> on <span th:text="${gif.dateUploaded}"></span></p>
        <p>Share: <span th:text="'http://gif.ly/' + ${gif.name}"></span> </p>
    </div>
</body>
</html>